<!--login block-->

<div class="loginWrap">
    <p class="lead">SIGN IN / SIGNUP</p>
    <div class="nameAdd">
        <form action="/user/" method="post">
            <div class="form-group">
                <label for="Name">Type Name:</label>
                <input type="text" class="form-control" name="loginform" placeholder="type Id here">
            </div>
            <button type="submit" class="btn btn-default" name="pushIt" onclick="this.form.reset();">Push it</button>
            <button type="button" class="btn btn-default" id="exitLogin">Exit</button>
        </form>
    </div>
</div>
<script>
$(document).ready(function(){
    "use strict";
        $(".showLogin").click(function(){
        $(".loginWrap").slideDown(200);
    });
});

$("#exitLogin").click(function(){
    $(".loginWrap").slideUp(200);
    $('.loginWrap').find('form')[0].reset();
});
</script>
