<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Maim page</a></li>
    </ul>
    <ul class="nav navbar-nav">
        <li><a href="/users">Users</a></li>
    </ul>
    <ul class="nav navbar-nav">
        <li><a href="/user">User (add ID)</a></li>
    </ul>
<!--    <ul class="nav navbar-nav">
        <li><a href="/friends">Friends</a></li>
    </ul>-->
    <ul class="nav navbar-nav">
        <li><a href="#" class="showLogin">Login</a></li>
    </ul>
</nav>

